<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <h1>メモアプリ</h1>
  </header>
  <main>
    <%= yield %>
  </main>
</body>

</html>
