<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
</head>

<body>
  <h1>メモアプリ</h1>
  <button onclick="location.href='/memo/new'">追加</button>
  <ul>
    <li type="disc">メモ1</li>
    <li type="disc">メモ2</li>
    <li type="disc">メモ3</li>
    <li type="disc">メモ4</li>
  </ul>
</body>

</html>
