<div class="button-right">
  <a class="button" href='/memo/new'>追加</a>
</div>
<ul>
  <% @list.each do |item| %>
    <li type="disc"><a href="/memo/<%= item[:id] %>"><%= item[:title] %></a></li>
  <% end %>
</ul>
