<section>
  <h2><%= h(@memo['title']) %></h2>
  <p><%= h(@memo['content']) %></p>
</section>

<a class="button" href="/memo/<%= @memo['id'] %>/edit">変更</a>
<div class="button-right">
  <form method="post" action="/memo/<%= @memo['id'] %>">
    <div class="form-action">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="削除">
    </div>
  </form>
</div>
