<section>
  <h2><%= h(@item[:title]) %></h2>
  <p><%= h(@item[:content]) %></p>
</section>

<form method="post" action="/memo/<%= @item[:id] %>">
  <a class="button" href="/memo/<%= @item[:id] %>/edit">変更</a>
  <div class="form-action button-right">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="削除">
  </div>
</form>
