<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
</head>

<body>
  <h1>メモアプリ</h1>
  <p><%= @status_msg %>
  <section>
    <h2>タイトル</h2>
    <p><%= @title %></p>
    <h2>内容</h2>
    <p><%= @content %></p>
  </section>
</body>

</html>
