<form method="post" action="/memo/<%= @memo[:id] %>">
  <div class="form-items">
    <div class="form-items__item">
      <label>タイトル</label>
      <input name="title" type="text" value="<%= h(@memo[:title]) %>">
    </div>
    <div class="form-items__item">
      <label>内容</label>
      <textarea name="content"><%= h(@memo[:content]) %></textarea>
    </div>
  </div>
  <div class="form-action button-center">
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit" value="変更">
  </div>
</form>
